body {
	height: 100vh;
}

.jumboDark {
	background-color: #2c3e50;
	color: white;
}

.jumboDark ul li {
	color: #2c3e50;
}

.list-group-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
